@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

:root {
  --form-width: 300px;
}
* {
  box-sizing: border-box;
}

body {
  background-color: #062863;
  font-family: "Source Sans Pro", sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  place-items: center;
  place-content: center;
  /* padding: 48px 0; */
}

img {
  margin-bottom: 48px;
  line-height: 2;
}

.container {
  background-color: #fff;
  color: #4a5568;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  place-content: center;
  place-items: center;
  padding: 32px 32px 40px;
  max-width: 450px;
  width: 95%;
  height: 80%;
}

.container h1 {
  color: #083e9e;
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
  margin: 0;
}

.container p {
  font-size: 14px;
  text-align: center;
  margin: 0;
  margin-bottom: 2rem;
}

.container form {
  display: flex;
  flex-direction: column;
  place-content: center;
  width: var(--form-width);
  font-size: 16px;
  overflow-y: auto;
}

.container form label {
  font-size: 12px;
  font-weight: bold;
  box-sizing: content-box;
  margin-bottom: 10px;
  /* margin-top: 8px; */
}

.container form input {
  background-color: #edf2f7;
  padding: 12px 8px 12px 12px;
  margin-bottom: 2em;
  box-shadow: none;
  border: 0;
  width: inherit;
}

.container form select {
  background-color: #edf2f7;
  padding: 8px;
  width: inherit;
  align-self: center;
  overflow: visible;
  margin-bottom: 2em;
}

.container form select option {
  padding: inherit;
}

.container form button {
  width: inherit;
  background-color: rgb(8, 62, 158);
  color: #fff;
  padding: 20px 40px 16px;
  border-radius: 1.25rem 1.25rem 1.25rem 0;
  border: 0;
  text-transform: uppercase;
  font-size: 14px;
}

body a {
  color: #fff;
  font: 12px Karla, sans-serif;
  margin-top: 32px;
  padding: 4px 12px;
  text-decoration: none;
}

body a:hover {
  text-decoration: underline;
}

@media (max-width: 360px) {
  :root {
    --form-width: 70vw;
  }
}
