@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

:root {
  --form-width: 80vw;
  --max-form-width: 380px;
}
* {
  box-sizing: border-box;
}

html {
  margin: 0;
}

body {
  background-image: url("img/1.png"), url("img/2.png"), url("img/3.png"),
    url("img/last.png");
  background-size: 15%, 15%, 15%, 15%;
  background-position: left -1% top -13.5%, right -10.5% top 0%,
    left -5% bottom -10%, right -8% bottom -5%;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-attachment: fixed;
  background-color: #062863;
  font-family: "Source Sans Pro", sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  place-items: center;
  padding: 48px 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

body a:first-of-type {
  margin: 0;
  height: 84px;
}

img {
  margin-bottom: 48px;
  line-height: 2;
  width: 191px;
  height: 36px;
}

.container {
  background-color: #fff;
  color: #4a5568;
  display: flex;
  flex-direction: column;
  border-radius: 20px 20px 20px 0;
  place-items: center;
  padding: 32px 32px 40px;
  max-width: 450px;
  width: 95%;
  height: 80%;
  margin: 0;
}

.container h1 {
  color: #083e9e;
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
  margin: 0;
}

.container p {
  font-size: 14px;
  text-align: center;
  margin: 0;
  margin-bottom: 2rem;
}

.container form {
  display: flex;
  flex-direction: column;
  width: var(--form-width);
  max-width: var(--max-form-width);
  font-size: 16px;
  /* overflow-y: auto; */
}

.container form label {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 10px;
  /* margin-top: 8px; */
}

.container form input {
  background-color: #edf2f7;
  padding: 12px 8px 12px 12px;
  margin-bottom: 32px;
  font-size: 14px;
  font-weight: 400;
  color: #1a202c;
  box-shadow: none;
  border: 0;
  border-radius: 5px;
  width: inherit;
  max-width: calc(380px);
  height: 48px;
}

.container form input:focus {
  outline: 0;
}

.container form select {
  background-color: #edf2f7;
  margin-bottom: 2em;
  height: 52px;
  border: 0;
  border-radius: 5px;
  padding: 8px;
  color: #4a5568;
}

/* .container form .select {
  position: relative;
  display: inline-block;
  background-color: #edf2f7;
  padding: 8px;
  width: inherit;
  max-width: calc(380px);
  align-self: center;
  overflow: visible;
  margin-bottom: 2em;
  height: 52px;
  border: 0;
  border-radius: 5px;
} */

/* .select .value {
  padding: 8px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  color: #4a5568;
} */

/* .select .active,
.select:focus {
  outline: none;
} */

/* .select .optList.hidden {
  max-height: 0;
  visibility: hidden;
} */

/* .select li {
  list-style-type: none;
  padding: inherit;
  height: 32px;
  font-family: "Source Sans Pro", "sans-serif";
  padding: 8px 0;
}  */

/* .select .optList {
  position: absolute;
  cursor: default;
  left: 0;
  z-index: 2;
  background-color: #fff;
  list-style: none;
  margin: 0;
  padding: 8px;
  box-sizing: border-box;
  min-width: 100%;
  width: var(--form-width);
  max-width: var(--max-form-width);
  max-height: 10em; 
  overflow-y: auto;
  overflow-x: hidden;
  line-height: 36px;
  border: .2em solid #000; 
  border-top-width : .1em; 
  border-radius: 0 0 .4em .4em;

  box-shadow: 0 .2em .4em rgba(0,0,0,.4); 
  background: #f0f0f0;
} */

/* .select .option {
  padding: 0.2em 0.3em; 2px 3px
}

.select .optList .option:hover {
  background: #93b0e2;
} */

/* svg {
  position: absolute;
  border-left: 1px solid #000;
  z-index: 1;
  top: 0;
  right: 0;
  transform: translate(-15px, 15px);
  box-sizing: border-box;
  padding: 0.1em 0 0 0.4em;
  opacity: 0.2;
  text-align : center;
} */

/* .select .value {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: top;
} */

.container form button {
  width: inherit;
  max-width: calc(380px);
  background-color: #083e9e;
  color: #fff;
  padding: 20px 40px 16px;
  border-radius: 10px 10px 10px 0;
  border: 0;
  height: 57px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
}

.container form button:hover {
  background-color: #062b6f;
  cursor: pointer;
}

body a:last-of-type {
  color: #fff;
  font: 12px "Source Sans Pro", sans-serif;
  margin-top: 32px;
  padding: 4px 12px;
  text-decoration: none;
}

body a:last-of-type:hover {
  color: #b3b3b3;
}

@media (max-width: 360px) {
  :root {
    --form-width: 70vw;
  }
}
